/***RESET***********************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
/***LAYOUT**********************************************/
.container{
    height: 100vh;
    overflow: hidden;
    position:relative;
    background: radial-gradient(circle, #6b143a 0%, rgba(6,12,19,1) 74%);
}

/***BODY************************************************/
.slider{
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.items-container{
   height: 100%;
   position: relative;
}
.items-container .item{
    height:100%;
    display: none;
}
.item img{
    object-fit:cover;
}

.prev, .next{
    position: absolute;
    font-size: 38px;
    cursor: pointer;
    color:#677179;
    
}

.prev{
    top:0;
    left: 50%;
    transform:translate(-50%, -65%);
}
.next{
    left:50%;
    transform:translate(-50%, -35%);    
}

.items-container .active{
    display: block;
}

/***THUMBNAILS**********************************************/
.items-thumbnail{
position: absolute;
top:50%;
transform: translatey(-50%);
}
.items-thumbnail .item{
    width: 200px;
    height: 80px;
    margin: 10px;
}
.items-thumbnail .item:not(.active) img{
    filter: brightness(25%) blur(1px);
}

.items-thumbnail .active{
    border: 3px solid #6b143a;
}
